.load-more-messages {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.no-more-messages {
    display: none;
    color: gray;
}

.receiver-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 16px;
    height: 70px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.10);
}

.messages-box {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 16px 0 0 16px;
    height: 50vh;
    overflow-y: auto;
    max-height: 800px;
    padding: 20px;
}

.chat-profile-img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.profile-img-container {
    margin-bottom: auto;
}

.message {
    display: flex;
    padding: 15px;
    border-radius: 15px;
    margin: 5px 1px;
    width: auto;
    max-width: 75%;
}

.message-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 10px;
}

.message-username {
    color: #168acd;
    text-decoration: none;
}

.message-content {
    display: block;
}

.sent-message {
    background-color: #effdde;
    align-self: end;
}

.received-message {
    background-color: #ffffff;
    align-self: start;
}

.sent-at-span {
    padding-left: 5px;
    float: right;
    align-self: center;
    color: gray;
    white-space: nowrap;
}

.updated-span {
    float: right;
    align-self: center;
    color: gray;
    white-space: nowrap;
}

.reply-span {
    float: right;
    margin-left: 10px;
    color: gray;
}

.reply-span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.send-message-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message-field {
    width: 100%;
    flex: 1;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.10);
    padding: 10px;
    resize: none;
}

.message-field:focus {
    outline: none;
}

.send-btn {
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
}

.context-menu {
    z-index: 10;
    width: 250px;
    height: fit-content;
    /*min-height: 150px;*/
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 2mm;
    position: absolute;
}

.context-menu-list {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.context-menu-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.context-menu-section:last-child {
    border: none;
}

.context-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
}

.context-menu-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.context-menu-item-readonly {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
}


.context-menu-name {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
}

.chat-info-picture {
    width: 72px;
    height: 72px;
    border-radius: 100%;
}

.chat-info-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 16px;
    height: 106px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.10);
}


.avatar-wrapper {
    position: relative;
    width: 72px;
    height: 72px;
}

.avatar {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    object-fit: cover;
    display: block;
}

.avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.avatar-wrapper:hover .avatar-overlay {
    opacity: 1;
    pointer-events: auto;
}

.service-message {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}