.load-more-messages {
    align-self: center;
    border-radius: 20px;
}

.receiver-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    height: 70px;
    background-color: #f1f1f1;
}

.messages-box {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 10px 0 0 10px;
    height: 50vh;
    overflow-y: auto;
    max-height: 800px;
    padding: 20px;
}

.profile-img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.profile-img-container {
    margin-bottom: auto;
}

.message {
    display: flex;
    padding: 15px;
    border-radius: 15px;
    margin: 5px 1px;
    width: auto;
    max-width: 75%;
}

.message-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 10px;
}

.message-username {
    color: #168acd;
    text-decoration: none;
}

.message-content {
    display: block;
}

.sent-message {
    background-color: #effdde;
    align-self: end;
}

.received-message {
    background-color: #ffffff;
    align-self: start;
}

.sent-at-span {
    padding-left: 25px;
    float: right;
    align-self: center;
    color: gray;
    white-space: nowrap;
}

.reply-span {
    float: right;
    margin-left: 10px;
    color: gray;
}

.reply-span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.send-message-box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message-field {
    width: 100%;
    flex: 1;
    border: none;
    border-radius: 20px;
    background-color: #f1f1f1;
    padding: 10px;
}

.message-field:focus {
    outline: none;
}

.send-btn {
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
}

.context-menu {
    width: 200px;
    height: fit-content;
    min-height: 150px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 2mm;
    position: absolute;
}

.context-menu-list {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.context-menu-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.context-menu-section:last-child {
    border: none;
}

.context-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    cursor: pointer;
}

.context-menu-item:hover {
    background: rgba(0, 0, 0, 0.07);
}

.context-menu-name {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
}